<?xml version="1.0" ?>
  <robot name="abb_irb4600s" xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- Define robot ids -->
    <xacro:property name="robot_id1" value="robLL/"/>
    <xacro:property name="robot_id2" value="robRR/"/>

    <xacro:include filename="$(find abb_irb4600s_robots)/urdf/abb_irb4600_40_255_irbt4004_macro.xacro"/>

    <xacro:abb_irb4600_robot prefix="${robot_id1}"/>
    <xacro:abb_irb4600_robot prefix="${robot_id2}"/>


    <link name="world" />
    <joint name="${robot_id2}origin" type="fixed">
        <parent link="world" />
        <child link="${robot_id2}irbt4004" />
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>

    <joint name="${robot_id1}origin" type="fixed">
        <parent link="world" />
        <child link="${robot_id1}irbt4004" />
        <origin xyz="3.6993 3.4510 0.0316" rpy="0.0 0.0 ${pi}" />
    </joint>

  </robot>
